body{
    background-color: rgb(138, 138, 255)
}


h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: #646161;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
}
.navbar a{
    color: #ffffff;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    color: #f53b3b;
}
.navbar li{
    float: left;
    text-align: center;
}

