@font-face {
    font-family: TechFont;
    src: url("tech.otf");
}

body{
    background-color: #5656fc;
}


h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: #646161;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
}
.navbar a{
    color: #ffffff;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    color: #f53b3b;
}
.navbar li{
    float: left;
    text-align: center;
}
a {
    color: #ff0000;
    text-decoration: underline;
}
a:hover {
    color: #ffffff;
    text-decoration: none;
}
.p1 {
    font-family: "TechFont";
    font-size: 30px;
}
.p2 {
    font-family: "TechFont";
    font-size: 25px;
}
.p3 {
    font-family: "TechFont";
    font-size: 20px;
}
p{
    font-size: large;
}
.lightblue{
    width: 350px;
    height: 350px;
    background-color: rgb(48, 157, 247);
    position: relative;
    top: 5px;  /* Moves the lightblue box up */
    margin: 250px;
    padding: 20px;
    
    display: inline-flex;   /* Use flexbox */
    justify-content: center;  /* Horizontally center */
    align-items: center;      /* Vertically center */

    }
    .red{
        width: 350px;
        height: 350px;
        background-color: rgb(228, 27, 27);
        top: -20px;  /* Moves the lightblue box up */
        margin: 250px;
        padding: 20px;
        
        display: inline-flex;   /* Use flexbox */
    justify-content: center;  /* Horizontally center */
    align-items: center;
    
    } 
